.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.markerInGutter{
  background: rgb(33, 150, 243,0.5);
  position: absolute;
}

.myGlyphMarginClass {
	background: yellow;
}
.myGlyphMarginClass1 {
	background: red;
}
.myContentClass {
	background: rgb(152, 172, 179 );
}

.blue {
  position: absolute;
  background-color: blue;
}

.myMarker {
  position:absolute;
  background:rgba(228,242,254,0.5);
  z-index:20
}

.scriptService{
  background:rgba(228,242,254,0.5);
}
.MuiTabs-indicator{
  background-color:#2196f3;
}

.MuiTab-root{
  text-transform: none;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}